@model UserDisplayData
<!DOCTYPE html>

<html>
<head>
    <title>Student</title>
</head>
<body>
<div>
    <form asp-action="Captcha" method="post" enctype="multipart/form-data">
        <label>@Model.Role</label>
        <input type="hidden" asp-for="SelectedResource"/>
        <input type="hidden" asp-for="PublicKey"/>
        <input type="hidden" asp-for="PublicKeySerialized"/>
        <input type="hidden" asp-for="PrivateKey"/>
        <input type="hidden" asp-for="PrivateKeySerialized"/>
        <input type="hidden" asp-for="Id"/>
        <input type="file" accept="*/*.zip" name="File" asp-for="File"/>
        <button type="submit">Отправить</button>
    </form>
    @if (Model.IsCaptchaInvalid)
    {
        <label style="color: red">Неверный ответ на задачу</label>
    }
    else if (Model.IsTaskUploaded)
    {
        <label style="color: green">Решение @Model.File.FileName загружено</label>
    }
</div>
</body>
</html>